@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sansita+Swashed:wght@900&family=Syne+Tactile&display=swap');

.box {
    background-color: #3b3f3f;
    box-shadow: 2px 2px gray;
    padding: 20px;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    text-shadow: 2px 2px 5px blue;
    width: 20rem;
    display: inline;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0088f0;
}

.lista {
    float: right;
    margin-right: 15px;
    display: inline;
}

.links {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 15px;
    display: inline;
}
